@{
    ViewBag.Title = "About";
}
<h2>About Unlaced</h2>

<p>
    Hi there!

    And welcome to Unlaced.com. Here at Unlaced we sell the most exclusive sneakers and footwear. We try our best to find the most coveted sneakers 24/7, and we also do our best to match the best prices around the world. We know that there are a lot of fakes and replicas out there, but you don't have to worry about that when you shop with us. We offer a 100% authenticity check for each and every shoe. We hope you have the best experience with us, and find something that interests you.

    Sincerely Unlaced.com
    
</p>
