@{
    ViewBag.Title = "Home Page";
}
    <!DOCTYPE html>
    <html>
    <head>
        <link href="~/Content/Niggggggggggggggger.css" rel="stylesheet" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        </style>
    </head>
    
    <body>
        <h1>Image Magnifier Glass</h1>

        <p>Mouse over the image:</p>

        <div>
            <!--change number to id in url-->
            <a href="/Home/ProductDetail/1"><img class="Red-october" src="~/Controllers/Billeder/4-40810_red-october-yeezy-air-yeezy-2-red-october.png" /></a>
        </div>
        <p></p>
    </body>
</html>
